<section class="order about">
  <div class="container">
    <div class="">
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия
      </div>

      <div class="order-text-message"> Слово «пицца» впервые появилось в латинском тексте из центрального итальянского
        города Гаэта, тогда ещё входившего в состав Византийской империи, в 997 г. н. э.; в тексте говорится, что
        арендатор определённого имущества должен давать епископу Гэты duodecim pizze («двенадцать пицц») каждое
        Рождество, а ещё двенадцать — каждое Пасхальное воскресенье.

        Прообразом пиццы были некоторые кушания, подававшиеся на ломтях хлеба в домах древних греков и римлян. В связи
        со ввозом помидоров в Европу в 1522 году в Неаполе впервые появилась итальянская пицца. В XVII веке появился
        особый род пекарей, пиццайоло (итал. pizzaiolo), готовивших пиццу для итальянских крестьян.

        Пристрастие к пицце питала жена неаполитанского короля Фердинанда IV Мария-Каролина Габсбург-Лотарингская
        (1752—1814), а позже — итальянский король Умберто I и его жена Маргарита Савойская, в честь которой был назван
        один из рецептов и разновидность пиццы — Маргарита (хотя есть мнение, что это всего лишь легенда).

        В США пицца попала в конце второй половины XIX века, вместе с итальянскими иммигрантами и впервые появилась,
        по-видимому, в Чикаго.

        В 1957 году появилась пицца-полуфабрикат; к концу XX века огромное распространение получили готовые замороженные
        полуфабрикаты пиццы, которые перед употреблением достаточно разогреть в микроволновой печи или духовке.
      </div>

      <div class="about-image">
        <img src="../../../../assets/img/pizza_big.png" alt="Кусочек пиццы">
        <img src="../../../../assets/img/pizza_big.png" alt="Кусочек пиццы">
      </div>
    </div>
  </div>
</section>

<app-popup [data]="'about component'">

</app-popup>
